.acitivity-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.acitivity-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    padding-top: 20px;
}
.activity-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.acitivity-right-logo {
    margin: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.acitivity-right-logo span {
    font-size: 20px;
    z-index: -200;
}
.acitivity-right-logo div {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    height: 200px;
}
.logo-button {
    height: 50px;
    margin: 0 30px;
}

.button{
    background-color: white;
    border: 2px solid var(--purple);
    border-radius: 60px;
    font-size: 30px;
    color: black;
    width: 120px;
    padding: 12px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
    font-family: 'Rubik';
    font-weight: bold;
    letter-spacing: 0.5px;
}

.activity-left {
    width: 50%;
    height: 400px;
    margin: 30px;
    padding: 30px;
    border-radius: 70px;
    background-color: rgb(255, 232, 236);
    z-index: 0;
}

.activity-left-content {
    opacity: 1;
    z-index: 1000;
}

