.profile-container{
    min-height:80vh;
}

.profile-parent {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
}

.profile-box {
    width: 30%;
    border: 5px solid #fff;
    padding: 30px;
    border-radius: 50px;
    background-color: black;
    margin-right: 1rem;
}
.content-box {
    width: 65%;
    border: 5px solid #fff;
    padding: 30px;
    border-radius: 50px;
    background-color: black;
    height: 65vh;
}

.button-box {
    width: 5%;
}