.profile-parent {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
}

.profile-box {
    width: 30%;
}
.content-box {
    width: 65%;
    border: 5px solid #fff;
    padding: 30px;
    border-radius: 50px;
    background-color: black;
}

.button-box {
    width: 5%;
}