.acitivity-right-timer-time{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.acitivity-right-timer-time span {
    font-size: 30px;
}
.acitivity-right-timer-time div {
    display: flex;
    justify-content: center;
}
.acitivity-right-timer-time div div {
    width: 90px;
}